Repository fga-eps-mds/2021-1-PUMA, pull requests merged in 2021-09, with the labels that each got.

#42 #28 Doc arquitetura
  docs/_sidebar.md
  docs/assets/arquitetura/diagrama-de-relacoes.png
  docs/assets/arquitetura/pacote-alocate-service.png
  docs/assets/arquitetura/pacote-alocate-service.svg
  docs/assets/arquitetura/pacote-frontend.png
  docs/assets/arquitetura/pacote-gateway.png
  docs/assets/arquitetura/pacote-gateway.svg
  docs/assets/arquitetura/pacote-nofify.svg
  docs/assets/arquitetura/pacote-notify.png
  docs/assets/arquitetura/pacote-project-service.png
  docs/assets/arquitetura/pacote-project-service.svg
  docs/assets/arquitetura/pacote-user-service.png
  docs/assets/arquitetura/pacote-user-service.svg
  docs/planejamento/doc-de-arquitetura.md
Labels: DOCS, ARQ

#58 [#49] Updating ME-R
  docs/assets/bancodedados/Conceitual_PUMA.png
  docs/assets/bancodedados/Logico_PUMA.png
  docs/bancodedados/bancos-de-dados.md
  metrics_consumer.py
Labels: DOCS, enhancement, wontfix

#61 [#48] Atualizar visual da wiki
  docs/_coverpage.md
  docs/assets/puma_lockup_stacked.svg
  docs/assets/puma_lockup_stacked_light.svg
  docs/index.html
  docs/main.css
  docs/scripts/zoom-image.js
  docs/scripts/zoom-image.min.js
Labels: DOCS, enhancement, EPS, EASY
